.footer-link {
  color: #bbbbbb;
  text-decoration: none;
  display: block;
  padding: 4px 0;
  transition: 0.3s;
}

.footer-link:hover {
  color: #ffffff;
  padding-left: 5px;
}

.social-icon {
  font-size: 22px;
  color: #ffffff;
  transition: 0.3s;
}

.social-icon:hover {
  color: #0d6efd;
}
